@model SplitOverviewVM
@{ViewBag.Title = Model.EventName;}

@if (Model.EventIsActive)
{

	<h2>@Model.EventName</h2>
	<a asp-controller="Split" asp-action="UpdateEvent" asp-route-id="@Model.EventId">
		<i id="updateEvent" class="fa fa-pencil-square-o" aria-hidden="true"></i>
	</a>
	<section class="status">
		@if (Model.MyStatus < 0)
		{
			<div class="minus circle">
				<span class="focus">@Model.MyStatus kr</span>
			</div>
		}
		else
		{
			<div class="plus circle">
				<span class="focus">+ @Model.MyStatus kr</span>
			</div>
		}
	</section>
	<section class="status total section">
		<h3>Total kostnad</h3>
		<p class="totalCost">@Model.Total kr</p>
		<p>varav din andel är @Model.MyTotal kr</p>
	</section>
	<section class="section">
		<h3>Överföringar</h3>

		@foreach (var item in Model.TransactionsCommittedToMe)
		{
			<p class="listItem"><a href="#" class="person" userId="@item.DebitorId" email="@item.DebitorEmail" lastname="@item.DebitorLastName">@item.DebitorFirstName</a> ska överföra @item.Amount @Model.StandardCurrency till @item.CreditorFirstName</p>
		}
		@*TODO uppdatera valuta till ej hårdkodat värde*@
		<div id="transactionsWithoutMe">
			@foreach (var item in Model.TransactionsWithoutMe)
				{
				<p class="listItem"><a href="#" class="person">@item.DebitorFirstName</a> ska överföra @item.Amount @Model.StandardCurrency till @item.CreditorFirstName</p>
				}
		</div>

	</section>
	<form id="addFriendsBox" class="addFriendsBox" eventid="@Model.EventId" asp-controller="Split" asp-action="Overview">
		<label for="friendsTextBox">Deltagare</label>
		@foreach (var item in Model.AlreadyParticipants)
		{
			<p class="friend participant">@item.FirstName @item.LastName</p>
		}
		<div class="friend-box" id="choosenFriends"></div>
		<input type="text" id="friendsTextBox" placeholder="Sök efter vänner" />
		<input type="hidden" asp-for="FriendIds" />

		<div class="friend-box" id="friend-box"></div>
		<input type="submit" value="Lägg till vänner" />
	</form>
	<a id="allTransactionsButton" class="button" href="#">Se alla överföringar</a>
	<a class="button" id="addFriendsButton" href="#">Lägg till vänner</a>
	<a class="button" asp-controller="Split" asp-action="Details" asp-route-id="@Model.EventId">Alla utlägg</a>
	<a class="button deleteButton" id="deleteEventButton" href="">Stäng event</a>
	@section addExpenseFooter {
		<footer>
			<div id="addExpenseFooter">
				<a asp-controller="Split" asp-action="Expense">
					<img id="plusSign" src="~/img/plus_75.png" />
				</a>
			</div>
		</footer>
	}
}
else
{
	<h1>Jag är avslutad!</h1>
}

