@model SplitOverviewVM
@{ViewBag.Title = Model.EventName;}

<h2>@Model.EventName</h2>

<section class="status">
	@*<h3>Din status</h3>*@
	@if (Model.MyStatus < 0)
	{
		<div class="minus circle">
			<span class="focus">@Model.MyStatus kr</span>
		</div>
	}
	else
	{
		<div class="plus circle">
			<span class="focus">+ @Model.MyStatus kr</span>
		</div>
	}
</section>
<section class="status total">
	<h3>Total kostnad</h3>
	<p class="">@Model.Total kr</p>
	<p>varav du ska betala @Model.MyTotal kr</p>
</section>
<section>
	@foreach (var item in Model.TransactionsCommittedToMe)
	{
		<p>@item</p>
	}
</section>
<a asp-controller="" asp-action="">Lägg till vänner</a>
<a asp-controller="" asp-action="">Sammanställning</a>

@section addExpenseFooter {
	<footer>
		<div id="addExpenseFooter">
			<a asp-controller="Split" asp-action="Expense">
				<img id="plusSign" src="~/img/plus_75.png" />
			</a>
		</div>
	</footer>
}